.app-interface__title {
  text-align: center;
  line-height: 2;
  margin: 0 auto;
  padding: 50px 35px;
}

.app-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-interface__tools {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  width: 280px;
  list-style: none;
  padding: 0;
}

.app-interface__button {
  color: #dddfe0;
  border-color: #dddfe0;
  background: white;
  margin: 10px 0;
}
