.contacts {
  padding-top: 540px;
}

.contacts__title-text {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
}

.contacts__phone-mail-street {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

.contact-data {
  margin: 5px;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;

  a {
    width: 200px;
    color: #d22856;
    text-decoration: none;
  }
}

.contacts__footer-map {
  margin: -35px auto;
  background: url("../img/bg-map-mobile@1x.png");
  background-position-y: -430px;
  width: 320px;
  height: 645px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 505px;
  }

  .contacts__phone-mail-street {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__title-text {
    margin: 0 auto;
    width: 400px;
    font-size: 40px;
  }

  .contact-title {
    padding-top: 32px;

    p {
      padding-top: 7px;
    }
  }

  .contact-title:last-child {
    padding-bottom: 50px;
  }

  .contact-data,
  .contact-title {
    margin: 0 auto;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 647px;
  }

  .contacts__title-text {
    width: 500px;
    font-size: 50px;
    line-height: 1.2;
  }

  .contacts__phone-mail-street {
    width: 960px;
    padding-top: 17px;
  }

  p.contact-data {
    padding-top: 27px;
  }
}
