.contacts {
  padding-top: 10px;
}

.contacts__title-text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.contacts__phone-mail-street {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: @mobile-width) and (max-width: @tablet-width) {
  .contact-title:last-child {
    width: 120px;
  }
}

.contact-data {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;

  a {
    width: 200px;
    color: #d22856;
    text-decoration: none;
  }
}

.contacts__footer-map {
  margin: -35px auto;
  background: url("../img/bg-map-mobile@1x.png");
  width: 320px;
  height: 645px;
}

@media (min-width: @tablet-width) {
  .contacts__phone-mail-street {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__title-text {
    padding-top: 50px;
    margin: 0 auto;
    width: 250px;
  }

  .contact-title {
    padding-top: 30px;
  }

  .contact-title:last-child {
    padding-bottom: 50px;
  }

  .contact-data,
  .contact-title {
    margin: 0 auto;
    width: 250px;
  }
}
