.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    padding-top: 50px;
  }
}

.main-footer__social--networks {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main-footer__social--list {
  width: 15px;
  height: 15px;
  padding: 15px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.footer-copyright {
  margin: 0;
  padding: 0;
}
