.main-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 auto;
  padding: 25px 0;
  width: 320px;
  border-bottom: 2px solid black;
  border-top: 2px solid #485461;
}

.main-nav__item a {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
