.page-header {
  margin: 0;
  width: auto;
  background: #283645;
}

.page-header__head {
  padding: 25px;
  border-bottom: 2px solid black;
}

.page-header__toggle {
  float: right;
  background: #283645;
  border: none;
}
