.research {
  width: 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.research__timer {
  margin-top: -10px;
  margin-left: 20px;
  width: 240px;
  height: 280px;

  span::after {
    display: block;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    content: "24";
    text-align: center;
    position: relative;
    top: -224px;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.7;
    color: #d22856;
    border: 15px solid #d22856;
    border-radius: 50%;
  }
}

.research__results {
  margin-left: -50px;
  width: 331px;

  b {
    display: flex;
    width: 170px;
    font-size: 30px;
  }

  p {
    line-height: 1.7;
    width: 300px;
  }

  a {
    color: #d22856;
  }
}

@media (max-width: @tablet-width) {
  .research {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .research {
    width: 930px;
    margin: 0 auto;
  }

  .research__timer {
    img {
      margin-top: -10px;
      margin-left: -22px;
      width: 124%;
      height: auto;
    }

    span::after {
      width: 220px;
      height: 220px;
      margin: 0 auto;
      content: "24";
      text-align: center;
      position: relative;
      top: -275px;
      font-size: 120px;
      font-weight: bold;
      line-height: 1.7;
      color: #d22856;
      border: 15px solid #d22856;
      border-radius: 50%;
    }
  }

  .research__results {
    padding-top: 80px;
    width: 570px;

    b {
      width: auto;
      font-size: 30px;
    }

    p {
      padding-top: 5px;
      padding-bottom: 17px;
      font-size: 18px;
      width: 525px;
    }

    a {
      font-size: 18px;
    }
  }
}
