.start-app__app-download {
  margin: 0 auto;
  padding: 30px 20px;
  background: #1d2631;
}

.start-app__brands-item {
  list-style: none;
}

.start-app__brands-icons {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.start-app__text-description {
  margin: 0 auto;
  color: white;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}

@media (min-width: @mobile-width) and (max-width: @tablet-width) {
  .start-app__title {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .start-app {
    position: absolute;
    width: 350px;
    margin-top: -420px;
  }

  .start-app__title {
    margin: 0;
    padding: 0 50px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: white;
  }

  .start-app__app-download {
    background: none;
  }

  .start-app__text-description {
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .start-app {
    padding: 35px 100px;
  }
}
