.users-photos {
  padding-top: 70px;
}

.users-photos__intro-text {
  text-align: center;
  line-height: 2;
  margin: 0 auto;
  padding: 50px 35px;
}

.users-photos__list-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .picture {
    padding-top: 20px;
  }

  span {
    width: 280px;
    background: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #d22856;

    .heart-icon {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.user-article {
  width: 280px;
  margin: 0;
  padding-top: 20px;
  background: #f2f2f2;
  line-height: 1.5;

  span {
    font-weight: bold;
    color: black;
  }

  dt {
    padding-left: 15px;
  }

  dd {
    margin: 0;
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .users-photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .users-photos__list-block {
    width: 300px;
    margin: 0;
  }

  .users-photos__list-block--main-picture-block {
    min-width: 660px;
  }

  .users-photos__image--main-picture {
    width: 100%;
    height: auto;
  }

  .users-photos__list-block--last-article {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .users-photos__list-block--main-picture-block {
    width: 100%;
  }
}
