.users-photos {
  padding-top: 70px;
}

.users-photos__intro-text {
  text-align: center;
  line-height: 2;
  margin: 0 auto;
  padding: 50px 35px;
}

.users-photos__list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-photos__today-landscape {
  position: relative;
  top: 33px;
  right: -70px;
  width: 140px;
  margin: 0 auto;
  background-color: #d22856;
  padding: 10px 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.users-photos__image {
  padding-top: 20px;
}

.users-photos__span-block {
  display: flex;
  width: 280px;
  background: #f2f2f2;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #d22856;
}

.users-photos__span-block--floating-block {
  display: flex;
  width: auto;
  background: #f2f2f2;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #d22856;
}

.heart-icon {
  padding-left: 15px;
  padding-right: 15px;
}

.users-photos__user-article--main-article {
  width: 100%;
  padding-top: 20px;
  line-height: 1.5;
  background: #f2f2f2;

  span {
    font-weight: bold;
  }

  dt {
    padding-left: 15px;
  }

  dd {
    margin: 0;
    padding-left: 15px;
  }
}

.users-photos__user-article {
  width: 280px;
  margin: 0;
  padding-top: 20px;
  background: #f2f2f2;
  line-height: 1.5;

  span {
    font-weight: bold;
    color: black;
  }

  dt {
    padding-left: 15px;
  }

  dd {
    margin: 0 auto;
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .users-photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .users-photos__list-block {
    width: 300px;
    margin: 0;
  }

  .users-photos__today-landscape {
    position: relative;
    top: 90px;
    right: -240px;
  }

  .users-photos__list-block--main-picture-block {
    min-width: 660px;
  }

  .users-photos__user-article--main-article {
    dt {
      margin-left: 20px;
    }

    dd {
      margin-left: 20px;
      padding-bottom: 20px;
      padding-right: 80px;
    }
  }

  .users-photos__image--main-picture {
    width: 100%;
    height: auto;
  }

  .users-photos__list-block--last-article {
    width: 100%;
  }

  .users-photos__span-block--floating-block {
    float: right;
    padding: 0;
    width: auto;
    margin: -80px 40px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .users-photos__today-landscape {
    position: relative;
    right: -300px;
  }

  .users-photos__list-block--main-picture-block {
    width: 100%;
  }

  .users-photos__span-block--floating-block {
    margin: -60px 40px 0 0;
  }
}
